<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-luna-mcp-dev-eastus-001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ca1fc4ed-67c9-445b-bcf8-17fac62afe1d/resourcegroups/rg-sandbox-dev-eastus-01/providers/Microsoft.Web/sites/func-luna-mcp-dev-eastus-001</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://func-luna-mcp-dev-eastus-001.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>